<div>
	<!-- User Start -->
    <form  autocomplete="off">
        <h3 style="color: #00000070; font-weight: 500;">Edit profile</h3>
        <div class="flex flex-wrap">
            <div class="flex space-x-3 bg-primary rounded-md px-5 py-3 w-full sm:w-1/2" style="background-color: rgb(222, 222, 222); ">
                <div class="w-16 h-16 rounded-full overflow-hidden shadow-md">
                    <img [src]="'assets/images/No_image_available.png'" alt="avatar" class="w-full h-full object-cover">
                </div>
                <div class="" style="color: #00000070;">
                    <h5>{{ user.nombre }} {{ user.apellidos }}</h5>
                    <p class="leading-normal ">
                        <span class="font-medium">Email</span>: {{ user.usuarioNombre }}</p>
                </div>
            </div>
            <div class="w-full sm:w-1/2 sm:pl-5 mt-5 mmd:t-0">
            </div>
        </div>
        <!-- User End -->
        <!-- User Meta Start -->
        <div class="border bg-white mt-8 rounded-md">
            <div class="flex p-4 bg-gray-200">
                <h6 class="text-normal">Información</h6>
            </div>
            <div class="flex flex-wrap p-4">
                <div class="w-full sm:w-1/2 mt-4 sm:mt-0">
                    
                    <div class="ll-dataset">
                        <mat-form-field style="width: 80%;">
                            <mat-label>Nombre:</mat-label>
                            <input matInput type="text" [(ngModel)]="user.nombre" name="nombre" placeholder="Tu Nombre">
                            <mat-icon matSuffix>people</mat-icon>
                            <mat-hint>Ingrese su nombre</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="ll-dataset mt-4">
                        <mat-form-field style="width: 80%;">
                            <mat-label>Apellidos:</mat-label>
                            <input matInput type="text" [(ngModel)]="user.apellidos" name="apellidos" placeholder="Tus Apellidos">
                            <mat-icon matSuffix>telephone</mat-icon>
                            <mat-hint>Ingrese sus apellidos</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div class="w-full sm:w-1/2">
                    
                    <div class="ll-dataset">
                        <mat-form-field style="width: 80%;">
                            <mat-label>Direccion:</mat-label>
                            <input matInput type="text" [(ngModel)]="user.direccion" name="direccion" placeholder="Tu Dirección">
                            <mat-icon matSuffix></mat-icon>
                            <mat-hint>Ingrese su nombre</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="ll-dataset mt-4">
                        <mat-form-field style="width: 80%;">
                            <mat-label>Nombre de usuario:</mat-label>
                            <input matInput type="text" [(ngModel)]="user.usuarioNombre" name="usuarioNombre" placeholder="Tu nombre de usuario">
                            <mat-icon matSuffix>people</mat-icon>
                            <mat-hint>Ingrese su nombre de usuario</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- User Meta End -->
        <!-- User Meta Start -->
        <div class="p-5" style="text-align: end;">
            <button mat-raised-button color="info" type="button" style="color: rgb(4, 255, 75); border: 1px solid rgb(4, 255, 75); background-color: #FFFFFF;" (click)="save()">Save changes </button>
        </div>
	<!-- User Meta End -->
    </form>
</div>
