
	<div class="table-inside">
		<table class="order-table table-auto ltMd:responsive">
			<thead>
				<tr class="border text-left">
					<th>
						<span class="text-gray-800">Id</span>
					</th>
					<th>
						<span class="text-gray-800">Producto</span>
					</th>
					<th>
						<span class="text-gray-800">Total</span>
					</th>
	
					<th>
						<span class="text-gray-800">Cliente</span>
					</th>
	
					<th>
						<span class="text-gray-800">Status</span>
					</th>
					<th class="text-right">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let articulo of ordenes" class="border">
					<td>
						<a class="text-primary" href="/">#{{articulo._id}}</a>
					</td>
					<td>
						{{articulo?.articulo.descripcion | titlecase }}
					</td>
					<td>
						<span>{{articulo?.total | currency: 'USD'}}</span>
					</td>
					<td>
						<span>{{articulo?.cliente.nombre | date}}</span>
					</td>
					<td>
						<div class="bg-blue-500 text-blue-500 completed" 
							class="text-[12px] bg-opacity-20 rounded-full px-3 inline-block font-bold py-[3px]"
						>
							Activo
						</div>
					</td>
					<td class="text-right">
						<button class="action_icon__btn" mat-icon-button [matMenuTriggerFor]="menu">
							<mat-icon>more_vert</mat-icon>
						</button>
						<mat-menu #menu="matMenu" xposition="before">
							<a mat-menu-item [routerLink]="linkTo+articulo.id">
								<mat-icon>dialpad</mat-icon>
								<span>detalle</span>
							</a>
							<!-- <button mat-menu-item>
								<mat-icon>delete</mat-icon>
								<span>Cancel</span>
							</button> -->
						</mat-menu>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

