
<div class="login w-full max-w-xl rounded-md mx-auto border p-4 sm:p-8 xl:p-20" style="width: 500px;">
    <form [formGroup]="passwordForm" (ngSubmit)="submit()" autocomplete="off" class="p10">
        <h3 style="color: #326EA8; font-weight: 500;">Edit Password</h3>
        <!-- User Meta Start -->
        <div class="border bg-white mt-8 rounded-md">
            <div class="flex flex-wrap p-4">
                <div class="w-full  mt-4 sm:mt-0">
                    <div class="ll-dataset">
                    <mat-form-field>
                        <input matInput type="password" placeholder="Password" formControlName="password" >
                        <!-- <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
                        <mat-error *ngIf="password.hasError('minlength')">Password must have at least {{minPw}} characters</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="ll-dataset">
                    <mat-form-field>
                        <input matInput type="password" placeholder="Confirm password" formControlName="confirmPassword" >
                        <!-- <mat-error *ngIf="password2.hasError('required')">Please confirm your password</mat-error>
                        <mat-error *ngIf="password2.invalid && !password2.hasError('required')">Passwords don't match</mat-error> -->
                    </mat-form-field>
                    </div>
                    <button mat-button color="success" type="submit">Confirmar</button>
                </div>
            </div>
        </div>
    </form>
    </div>