<div>
  <mat-sidenav-container class="kl-sidenav-container ">
    <mat-sidenav #sidenav [opened]="false" [mode]="'over'" [fixedInViewport]="isLessThenLargeDevice">
      <div class="rounded-md border overflow-hidden px-10 w-72">
        <div class="user text-center bg-primary py-10 px-5">
          <img class="ml-auto mr-auto" src="assets/images/avatar.png" alt="avatar" />
          <h4 class="text-base mt-3" style="color: #00000070">-----</h4>
        </div>
        <mat-nav-list class="_sidenav">
          <a
            mat-list-item
            routerLink="/dashboard/profile"
            routerLinkActive="bg-gray-200"
            class="font-semibold text-gray-500 hover:text-primary"
            ><mat-icon class="mr-2">account_circle</mat-icon> Mi Perfil</a
          >
         
          <a
            mat-list-item
            routerLink="/dashboard/orders"
            routerLinkActive="bg-gray-200"
            class="font-semibold text-gray-500 hover:text-primary"
            ><mat-icon class="mr-2">article</mat-icon>Mis Articulos</a
          >
          <a (click)="onLogout()" mat-list-item class="font-semibold text-gray-500 hover:text-primary"><mat-icon class="mr-2">logout</mat-icon> Logout</a>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <header class="ll_header bg-gray-50 shadow">
        <div class="container">
          <div class="flex items-center">
            <div class="flex items-center">
              <a class="logo" [routerLink]="['']"><img style="width: 380px;" src="assets/images/logo.png" alt="Logo" /></a>
            </div>
            <button
              *ngIf="isLessThenLargeDevice"
              (click)="sidenav.toggle()"
              class="_sidenav__toggler ml-3 ms-sm-3"
              mat-icon-button
            >
              <mat-icon>menu</mat-icon>
            </button>
            <div class="items-center flex ml-auto">
              <!-- <button mat-icon-button>
                <mat-icon>notifications</mat-icon>
              </button> -->
              <button mat-icon-button (click)="displayList = !displayList">
                <mat-icon>account_circle</mat-icon>
              </button>
              <div *ngIf="displayList" id="cdk-overlay-0" class="cdk-overlay-pane" style=" position: absolute;
              bottom: 78%;
              right: 0.5%;">
                <div tabindex="-1" role="menu" class="mat-mdc-menu-panel mdc-menu-surface mdc-menu-surface--open mat-mdc-elevation-specific ng-trigger ng-trigger-transformMenu ng-tns-c1398213682-10 mat-menu-after mat-menu-below mat-elevation-z8 ng-star-inserted" id="mat-menu-panel-2" style="transform-origin: left top; 
                height: 120px;
                width: 140px;">
                  <div class="mat-mdc-menu-content mdc-list ng-tns-c1398213682-10">
                    <a [routerLink]="['/dashboard']" mat-menu-item="" class="mat-mdc-menu-item mat-mdc-focus-indicator mdc-list-item ng-tns-c1398213682-10 px-5 py-2" role="menuitem" tabindex="0" aria-disabled="false" style="padding: 0.8rem 1.8rem; width: 100%;">
                      <span class="mdc-list-item__primary-text">Dashboard</span>
                      <div matripple="" class="mat-ripple mat-mdc-menu-ripple"></div><!---->
                    </a>
                    <button mat-menu-item="" (click)="onLogout()" class="mat-mdc-menu-item mat-mdc-focus-indicator mdc-list-item ng-tns-c1398213682-10 px-5 py-2" role="menuitem" tabindex="0" aria-disabled="false" style="padding: 0.8rem 1.8rem; width: 100%;">
                      <span class="mdc-list-item__primary-text">Logout</span>
                      <div matripple="" class="mat-ripple mat-mdc-menu-ripple"></div><!---->
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      
      <div>
        <div class="container-dashboard" style="margin-left: 0px !; margin-top: 0px !;">
          <div class="grid grid-cols-12 gap-8">
            <div 
              class="col-span-2 hidden xl:block" 
              [ngStyle]="{'width': isExpanded === true ? '250px' : '70px' }"
              style="    
                height: 100%;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #FFFF;
                padding-top: 20px;"
              >
              <div class="py-5 min-h-screen">
                <div class="rounded-md overflow-hidden h-full">
                  <!-- <div class="user text-center bg-primary py-10 px-5">
                    <img class="ml-auto mr-auto" src="assets/images/avatar.png" alt="abraham lincoln" />
                    <h4 class="text-white mt-3" style="color: #00000070">Abraham Lincoln</h4>
                  </div> -->
                  <mat-nav-list class="_sidenav">
                    
                    <a
                      mat-list-item
                      routerLink="/dashboard/perfil"
                      routerLinkActive="bg-gray-200"
                      class="font-semibold text-gray-500 hover:text-primary"
                      ><mat-icon class="mr-2">account_circle</mat-icon> <span *ngIf="isExpanded" >Mi Perfil</span></a
                    >
                    <a
                    
                      mat-list-item
                      routerLink="/dashboard/mis-articulos"
                      routerLinkActive="bg-gray-200"
                      class="font-semibold text-gray-500 hover:text-primary"
                      ><mat-icon  class="mr-2">article</mat-icon><span *ngIf="isExpanded" >Mis Articulos</span></a
                    >
                    <a (click)="onLogout() " mat-list-item class="font-semibold text-gray-500 hover:text-primary">
                      <mat-icon class="mr-2">logout</mat-icon> <span *ngIf="isExpanded">Cerrar sessión</span></a>
                    <div style="border-bottom: 1px solid #F5F5F5;"></div>
                    <div *ngIf="role == 'admin' || role == 'super-admin'" class="py-5">
                      <h6 *ngIf="isExpanded" class="text-center py-3" style="font-weight: 500; color: #00000070;">Admin Panel</h6>
                      
                      <a
                      mat-list-item
                      routerLink="/dashboard/articulos"
                      routerLinkActive="bg-gray-200"
                      class="font-semibold text-gray-500 hover:text-primary"
                      ><mat-icon class="mr-2">article</mat-icon> <span *ngIf="isExpanded">Articulos</span></a>
                     <a
                      mat-list-item
                      routerLink="/dashboard/ordenes"
                      routerLinkActive="bg-gray-200"
                      class="font-semibold text-gray-500 hover:text-primary"
                      ><mat-icon class="mr-2">shopping_cart</mat-icon> <span *ngIf="isExpanded" >Ordenes</span></a>
                      <a
                      mat-list-item
                      routerLink="/dashboard/usuarios"
                      routerLinkActive="bg-gray-200"
                      class="font-semibold text-gray-500 hover:text-primary"
                      ><mat-icon class="mr-2">group</mat-icon> <span *ngIf="isExpanded" >Usuarios</span></a>
                      <a
                      mat-list-item
                      routerLink="/dashboard/tiendas"
                      routerLinkActive="bg-gray-200"
                      class="font-semibold text-gray-500 hover:text-primary"
                      ><mat-icon class="mr-2">store</mat-icon><span *ngIf="isExpanded" >Tienda</span></a>
                    </div>
                  </mat-nav-list>

                  <div class="text-center mt-20">
                    <a (click)="changeSidebar()" clickable><mat-icon style="transform: scale(2);">keyboard_arrow_right</mat-icon></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-span-12 xl:col-span-10 py-10 px-10">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>