.footer {
    background-color: #000000;
    position: fixed;
    width: 100%;
    bottom: 0;

}

._nav {
    &__link {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
}