<div>
	<div class="filter flex items-center mb-5">
	  <h5>Tiendas</h5>
	  <div class="flex items-center ml-auto">
        <a
        routerLink="guardar" mat-icon-button class="more-button" aria-label="Toggle menu" style="color: #18bc02;"
        matTooltip="Agregar nueva tienda"
        aria-label="Agregar nueva tienda"
      >
        <mat-icon>add</mat-icon>
      </a>
	  </div>
	</div>
	<div>
	  <div class="table-inside">
		<div class="flex flex-col border ltLg:responsive" style="background-color: #FFFFFF;">
		  <div class="flex items-center p-4 border-b hover:bg-blue-100">
			<div class="w-5/12 font-medium"><div class="pl-16 ml-3">Sucursal</div></div>
			<div class="w-5/12 font-medium">Dirección</div>
			<div class="w-2/12"></div>
		  </div>
		  <div class="flex items-center p-4 border-b hover:bg-blue-100" *ngFor="let tienda of tiendas | slice: 0:9">
			<div class="w-5/12">
			  <a href="" class="flex hover:text-primary">
				
				<h6 class="flex-auto">{{ tienda.sucursal }}</h6>
			  </a>
			</div>
			
			<div class="w-5/12">
				<div class="flex items-center">
				  {{tienda.direccion}}
				</div>
			  </div>
			<div class="w-2/12 text-right">
                <button class="action_icon__btn" mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" xposition="before">
                    <button mat-menu-item type="button" (click)="abrirModal(tienda.id!)">
                        <mat-icon>add</mat-icon>
                        <span>Agregar Productos</span>
                    </button>
                    <a mat-menu-item [routerLink]="'editar/'+tienda.id">
                      <mat-icon>dialpad</mat-icon>
                      <span>Editar</span>
                    </a>
                    <button 
                    mat-menu-item 
                    [swal]="{ title: 'Esta seguro de eliminar este usuario?',  showCancelButton: true, icon:'question', iconColor:'#18bc02' }"  
                    
                    (confirm)="eliminarTienda(tienda)"
                    (dismiss)="handleDismiss($event)">
                      <mat-icon>delete</mat-icon>
                      <span>Eliminar</span>
                    </button>
                    
                  </mat-menu>
                
			</div>
		  </div>
		</div>
	  </div>
	
	</div>
  </div>