<div class="mt-32">
  <div class="container">
    <div class="grid grid-cols-12 gap-8">
      <div class="col-span-12 md:col-span-7 xl:col-span-8 border p-5">
        <h1 class="_title font-medium">{{ articulo.descripcion}}</h1>
        <div class="flex p-5">
          <button class="img-preview-btn" style="border: 1px solid transparent;">
            <img width="100" height="100" src="{{ articulo.imagen ? imageUrl + articulo.imagen : 'assets/images/No_image_available.png'}}" alt="">
          </button>
          <div class="w-10/12">
            <img class="w-full" src="{{articulo.imagen ? imageUrl + articulo.imagen : 'assets/images/No_image_available.png'}}" alt="Imagen no " />
          </div>
        </div>
        <div class="ll-content mt-8">
          <h6>Descripción:</h6>
          <p>
            {{ articulo.descripcion}}
          </p>
        </div>
      </div>
      <div class="col-span-12 md:col-span-5 xl:col-span-4">
        <div class="border">
          <div class="border-b text-center pt-10 pb-10">
            <div class="text-accent text-4xl font-semibold">{{ articulo.precio | currency:'MXN'}}</div>
            <div class="font-medium text-lg mt-3 text-gray-400 tracking-wider">Precio:</div>
          </div>
          <div class="border-b p-5">
              <div class="w-full sm:w-1/2 mt-4 sm:mt-0">
                <h5>Cantidad:</h5>
                <mat-form-field class="form-element" style="width: 90%;" >
                  <mat-label for="needOptionsCompose">Cantidad</mat-label>
                  <mat-select matInput required name="quantity" [(ngModel)]="cartItem.quantity" (ngModelChange)="selectQuantity($event)">
                      <mat-option selected>Seleccionar</mat-option>
                      <mat-option [value]="0">0</mat-option>
                      <mat-option [value]="1">1</mat-option>
                      <mat-option [value]="2">2</mat-option>
                      <mat-option [value]="3">3</mat-option>
                      <mat-option [value]="4">4</mat-option>
                  </mat-select>
              </mat-form-field>
              </div>
            </div>    
          </div>
          <div class="border-b px-5 pt-10 pb-12 text-center">
            <!-- <p class="text-gray-400 mb-4">This price can increase due to additional bookings</p> -->
            <button mat-flat-button class="py-20 px-20 text-xl font-bold" [className]="isDisabled ? 'cart-btn-disabled' : 'cart-btn'"
              (click)="abrirModal()"><span class="material-icons">shopping_cart</span> {{isDisabled ? 'Inicia sesión':'Agregar a carrito'}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
